version: '2'

services:
# -------------------------------------------------------------------------
# Todd Server
# -------------------------------------------------------------------------
  toddserver:
    image: toddproject/todd
    command:
      - 'todd-server'
    volumes:
      - /etc/localtime:/etc/localtime
      - ./objects:/root
      - ./configs/toddserver.toml:/etc/todd/server.cfg
    ports:
      - "8080:8080"
    depends_on:
      - etcd
      - rabbitmq
      - influxdb
    networks:
      - default
      - agent-hq
      - agent-dc

# -------------------------------------------------------------------------
# Todd Agent - Group DC
# -------------------------------------------------------------------------
  agent-dc:
    image: toddproject/todd
    command:
      - 'todd-agent'
    volumes:
      - /etc/localtime:/etc/localtime
      - ./configs/toddagent.toml:/etc/todd/agent.cfg
    networks:
      - agent-dc

# -------------------------------------------------------------------------
# Todd Agent - Group HQ
# -------------------------------------------------------------------------
  agent-hq:
    image: toddproject/todd
    volumes:
      - /etc/localtime:/etc/localtime
      - ./configs/toddagent.toml:/etc/todd/agent.cfg
    command:
      - 'todd-agent'
    networks:
      - agent-hq

# -------------------------------------------------------------------------
# Etcd
# -------------------------------------------------------------------------
  etcd:
    image: quay.io/coreos/etcd:v3.1.3
    ports:
      - '2379:2379'
      - '2380:2380'
      - '4001:4001'
    command: /usr/local/bin/etcd -name etcd0 -advertise-client-urls http://${HOST_IP}:2379,http://${HOST_IP}:4001 -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 -initial-advertise-peer-urls http://${HOST_IP}:2380 -listen-peer-urls http://0.0.0.0:2380 -initial-cluster-token etcd-cluster-1 -initial-cluster etcd0=http://${HOST_IP}:2380 -initial-cluster-state new
    volumes:
      - /etc/localtime:/etc/localtime

# -------------------------------------------------------------------------
# Rabbitmq
# -------------------------------------------------------------------------
  rabbitmq:
    image: rabbitmq:3
    volumes:
      - /etc/localtime:/etc/localtime
    ports:
      - "5672:5672"
    networks:
      - default
      - agent-hq
      - agent-dc

# -------------------------------------------------------------------------
# Influxdb
# -------------------------------------------------------------------------
  influxdb:
    image: influxdb:1.1.1-alpine
    volumes:
     - /etc/localtime:/etc/localtime
    environment:
     - "INFLUXDB_ADMIN_ENABLED=true"
    ports:
     - "8083:8083"
     - "8086:8086"
    networks:
      - default

# -------------------------------------------------------------------------
# Network Configuration
# -------------------------------------------------------------------------
networks:
  agent-dc:
    ipam:
      config:
        - subnet: 172.25.1.0/24
  agent-hq:
    ipam:
      config:
        - subnet: 172.25.2.0/24
